* {
    margin: 0;
    font-family: "DM Sans";
    color: white;
}
/* Logo */
#logo{
    padding: 50px;
    float: left;
}
/* Head of the site */
header{
    padding-bottom: 200px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(Assets/image-header.png);
}
.navigator{
    padding: 50px;
    text-align: right;
    margin-right: 20px;
    li{
        font-family: 'Poppins';
        font-style: 'Regular';
        font-size: 18px;
        display: inline;
        padding: 15px;
        a{
            color: white;
            text-decoration: none;
        }
    }
}
h1{
    font-weight: 400;
    text-align: center;
    font-style: 'regular';
    font-size: 140px;
    color: white;
    span {
        margin: 0;
        font-family: "DM Sans";
        font-style: 'regular';
        font-size: 53px;
        color: white;
        padding-right: 500px;
    }
}
.text-normal{
    font-weight: 300;
}
header{
    h2{
        margin-left: 370px;
        padding: 25px;
        text-align: left;
        color: white;
        margin-bottom: 50px;
    }
}

#sectbutton{
    text-align: center;
}
.buttons{
    margin-right: 120px;
    a{
        text-decoration: none;
        border-radius: 10px;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
.buttons a:first-child{
    margin-right: 20px;
    color: white;
    background-color: black;
}
.buttons a:last-child{
    color: black;
    background-color: white;
} 
/* Body of the site */
main{
    background-color: black;
}
/* Body: Title, Pharagraph */
#first-s{
    padding: 100px;
    h2{
        padding-left: 100px;
        font-weight: 300;
        font-size: 48px;
        margin: 15px;
    }
    p{
        padding-left: 115px;
        font-size: 20px;
        margin-bottom: 20px;
    }
}
/* Body: Image */
#imageSection img {
  width: 100%;
}
/* Body: Line Up */
#lineup{
    padding: 50px;
    h2{
        font-size: 36px;
        text-align: center;
    }
    ul{
        margin-top: 20px;
        font-size: 28px;
        margin-left: 100px;
        padding-right: 100px;
        margin-bottom: 70px;
    }
    li{
        list-style: none;
        border-top: dotted rgba(255, 255, 255, 0.34);
        margin-left: 180px;
        margin-right: 180px;
    }
    li:last-child{
        border-bottom: dotted rgba(255, 255, 255, 0.34);
    }
    a{
        background-color: white;
        color: black;
        margin-left: 520px;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 10px;
    }
}
/* Body: Sponsors */
#sponsors{
    background-image: url(Assets/banniere-logo.png);
    padding-bottom: 120px;
    padding-top: 120px;
    text-align: center;
    a{
        margin-top: 20px;
        margin: 20px;
    }
}
/* Body: Contact form */
#contact{
    text-align: center;
    p{
        margin-left: 300px;
        text-align: left;
        padding: 40px;
    }
}
.form1{
    label{
        text-align: left;
        padding-left: 345px;
        display: block;
    }
    textarea{
        width: 45%;
        height: 150px;
    }
    input{
        width: 45%;
    }
}
#Message{
    height: 100px;
    width: 200px;
}
/* Footer: Copyrights */
footer{
    form{
        float: right;
    }
}
#formspace{
    padding-top: 50px;
    padding-bottom: 50px;
}
#copyr{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
#copyr p:first-child{
    color: black;
    float: left;
    text-align: left;
    margin-left: 20px;
}
#copyr p:last-child{
    color: #000;
    text-align: right;
    margin-right: 20px;
}