* {
    margin: 0;
    font-family: "DM Sans";
    color: white;
}
/* Logo */
#logo{
    padding: 50px;
    float: left;
}
/* Head of the site */
header{
    padding-bottom: 200px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(Assets/image-header.png);
}
.navigator{
    padding: 50px;
    text-align: right;
    margin-right: 20px;
    li{
        font-family: 'Poppins';
        font-style: 'Regular';
        font-size: 18px;
        display: inline;
        padding: 15px;
        a{
            color: white;
            text-decoration: none;
        }
    }
}
h1{
    text-align: center;
    font-style: 'regular';
    font-size: 140px;
    color: white;
    span {
        margin: 0;
        font-family: "DM Sans";
        font-style: 'regular';
        font-size: 53px;
        color: white;
        padding-right: 500px;
    }
}
.text-normal{
    font-weight: 300;
}
header{
    h2{
        margin-left: 350px;
        padding: 25px;
        text-align: left;
        color: white;
        margin-bottom: 50px;
    }
}

#sectbutton{
    text-align: center;
}
.buttons{
    margin-right: 150px;
    a{
        text-decoration: none;
        border-radius: 10px;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
.buttons a:first-child{
    margin-right: 20px;
    color: white;
    background-color: black;
}
.buttons a:last-child{
    color: black;
    background-color: white;
} 
/* Body of the site */
main{
    background-color: black;
}
/* Body: Title, Pharagraph */
#first-s{
    padding: 100px;
    h2{
        padding-left: 100px;
        font-weight: 300;
        font-size: 48px;
        margin: 15px;
    }
    p{
        padding-left: 115px;
        font-size: 20px;
        margin-bottom: 20px;
    }
}
/* Body: Image */
#imageSection img {
  width: 100%;
}
/* Body: Line Up */
#lineup{
    padding: 50px;
    h2{
        font-size: 36px;
        text-align: center;
    }
    ul{
        margin-top: 20px;
        padding-left: 270px;
        font-size: 28px;
    }
    li{
        border-top: dashed;
    }
}

